.ground{
    display: flex;
}
.ground-sprite{
    width: 100px;
    height: 100px;
    /* background: radial-gradient(farthest-corner at 2% 206%, var(--question-mark) 55%, black 57%,rgba(0, 0, 0, 0) 50%), 
    radial-gradient(farthest-corner at -85% 10%, var(--question-mark)  69%, black 71%,var(--question-mark)  63%);
    border: 3px solid black; */
}


.ground-sprite {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.white{
    background-color: var(--color-body);
}
.black{
    background-color: black;
}
.white.a { grid-area: 12 / 1 / 16 / 2; }
.white.b { grid-area: 2 / 1 / 11 / 2; }
.white.c { grid-area: 12 / 2 / 13 / 3; }
.white.d { grid-area: 13 / 3 / 14 / 5; }
.white.e { grid-area: 14 / 5 / 15 / 8; }
.white.f { grid-area: 13 / 9 / 17 / 10; }
.white.g { grid-area: 11 / 10 / 13 / 11; }
.white.h { grid-area: 7 / 11 / 11 / 12; }
.white.i { grid-area: 2 / 11 / 6 / 12; }
.white.j { grid-area: 1 / 12 / 2 / 16; }
.white.k { grid-area: 7 / 12 / 8 / 16; }

.black.a { grid-area: 11 / 1 / 12 / 3; }
.black.b { grid-area: 12 / 3 / 13 / 5; }
.black.c { grid-area: 13 / 5 / 14 / 9; }
.black.d { grid-area: 14 / 8 / 16 / 9; }
.black.e { grid-area: 16 / 2 / 17 / 8; }
.black.f { grid-area: 15 / 15 / 16 / 16; }
.black.g { grid-area: 16 / 10 / 17 / 16; }
.black.h { grid-area: 7 / 16 / 16 / 17; }
.black.i { grid-area: 2 / 16 / 6 / 17; }
.black.j { grid-area: 6 / 12 / 7 / 16; }
.black.k { grid-area: 5 / 12 / 6 / 13; }
.black.l { grid-area: 1 / 10 / 11 / 11; }