

.monster1 {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .head{
        z-index: 2;
        background-color: var(--color-head);
    }
    
    .head.a { grid-area: 1 / 7 / 2 / 11; }
    .head.b { grid-area: 2 / 6 / 3 / 12; }
    .head.c { grid-area: 3 / 5 / 4 / 13; }
    .head.d { grid-area: 4 / 4 / 5 / 14; }
    .head.e { grid-area: 5 / 3 / 11 / 15; }
    .head.f { grid-area: 6 / 2 / 11 / 3; }
    .head.g { grid-area: 8 / 1 / 10 / 2; }
    .head.h { grid-area: 11 / 3 / 12 / 6; }
    .head.i { grid-area: 11 / 12 / 12 / 15; }
    .head.j { grid-area: 6 / 15 / 11 / 16; }
    .head.k { grid-area: 8 / 16 / 10 / 17; }
    
    
    .body { 
        grid-area: 11 / 5 / 17 / 13; 
        background-color: var(--color-body);
        z-index: 1;
    }

    .foot1, .foot2{
        background-color: var(--color-foot);
        z-index: 2;
    }
    .foot1.a{ grid-area: 14 / 4 / 16 / 6; }
    .foot1.b { grid-area: 16 / 5 / 17 / 8; }
    .foot1.c { grid-area: 15 / 6 / 16 / 7; }

    .foot2.a { grid-area: 14 / 15 / 16 / 16; }
    .foot2.b { grid-area: 13 / 13 / 17 / 15; }
    .foot2.c { grid-area: 14 / 11 / 17 / 13; }
    .foot2.d { grid-area: 15 / 10 / 17 / 11; }

    .eyebrow{
        background-color: var(--color-foot);
        z-index: 3;
    }
    .eyebrow.a { grid-area: 5 / 4 / 6 / 6; }
    .eyebrow.b { grid-area: 5 / 12 / 6 / 14; }
    .eyebrow.c { grid-area: 6 / 11 / 9 / 12; }
    .eyebrow.d { grid-area: 6 / 6 / 9 / 7; }
    .eyebrow.e { grid-area: 7 / 7 / 8 / 11; }

    .eye{
        background-color: var(--color-body);
        z-index: 3;
    }
    .eye.a { grid-area: 6 / 5 / 10 / 6; }
    .eye.b{ grid-area: 9 / 6 / 10 / 8; }
    .eye.c { grid-area: 8 / 7 / 9 / 8; }
    .eye.d { grid-area: 8 / 10 / 9 / 11; }
    .eye.e { grid-area: 9 / 10 / 10 / 13; }
    .eye.f { grid-area: 6 / 12 / 9 / 13; }