.mountain{
    width: calc(48*7px);
    height: calc(19*7px);
    position: absolute;

    display: flex;
}
.mountain .left, .mountain .right{
    display:  flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.mountain .right{
    position: relative;
}
.mountain .left > div, .mountain .right >div{
    display: flex;
    justify-content: flex-end;
}
.mountain .right >div{
    flex-direction: row-reverse;
}
.mountain .black{
    width:7px;
    height: 7px;
    background-color: black;
}
.mountain .green{
    height: 7px;
    background-color: var(--green2);
}
.mountain .a .black{
    width: 12.5%;
}
.mountain .b .green{
    width: 12.5%;
}

.mountain .b .black{
    width: calc(4px*100/24);
}
.mountain .c .green{
    width: calc(9px*100/24);
}

.mountain .c .black{
    width: calc(3px*100/24);
}

.mountain .d .green{
    width: calc(12px*100/24);
}

.mountain .e .green{
    width: calc(14px*100/24);
}

.mountain .f .green{
    width: calc(16px*100/24);
}

.mountain .g .green{
    width: calc(18px*100/24);
}

.mountain .h .green{
    width: calc(20px*100/24);
}

.mountain .i .green{
    width: calc(22px*100/24);
}

.mountain .j .green{
    width: calc(24px*100/24);
}
.mountain .k .green{
    width: calc(26px*100/24);
}
.mountain .l .green{
    width: calc(28px*100/24);
}
.mountain .m .green{
    width: calc(30px*100/24);
}
.mountain .n .green{
    width: calc(32px*100/24);
}
.mountain .o .green{
    width: calc(34px*100/24);
}
.mountain .p .green{
    width: calc(36px*100/24);
}
.mountain .q .green{
    width: calc(38px*100/24);
}
.mountain .r .green{
    width: calc(40px*100/24);
}
.mountain .s .green{
    width: calc(42px*100/24);
}

.mountain .absolute.a{
    top:35px;
    left:28px;
    width: 15px;
    height: 30px;
    position: absolute;
    background-color: black;
}
.mountain .absolute.b{
    top: 43px;
    left: 15px;
    width: 7px;
    height: 27px;
    position: absolute;
    background-color: black;

}