
.top-pipe{
    background-color: var(--green1);
    width: var(--width-pipe-top);
    height: calc(var(--width-pipe-top)/2);
    border: 7px solid black;
    display: flex;
}
.square-pipe-1{
    width: 18%;
    border-top: 8px solid var(--green2);
    height: 90%;
    border-right: 15px solid var(--green2);
    margin-top: auto;
}
.square-pipe-2{
    width: 58%;
    border-top: 8px solid var(--green2);
    height: 90%;
    margin-top: auto;
    margin-left: auto;
    border-left: 8px solid var(--green2);
    display: flex;
}
.square-pipe-2 > div:first-child{
    background-color: var(--green2);
    width: 50%;
    height: 100%;
    margin-left: 13%;
}
.square-pipe-2 .grid-pattern{
    height: 100%;
    width: 22%;
}
.square-pipe-2 .grid-pattern div{
    width: 100%;
    height: calc(100%/11);
    background: linear-gradient(to left,var(--green2) 25%, var(--green1) 25%, var(--green1)  50%, var(--green2) 50%, var(--green2) 75%, var(--green1)  75%);
}
.square-pipe-2 .grid-pattern div:nth-child(2n){

    background: linear-gradient(to left,var(--green1) 25%, var(--green2) 25%, var(--green2)  50%, var(--green1) 50%, var(--green1) 75%, var(--green2)  75%);
}
.down-pipe{
    background-color: var(--green1);
    width: var(--width-pipe-down);
    margin: 0 15px;
    height: calc(var(--width-pipe-top));
    display: flex;
    border: 7px solid black;
    border-bottom: none;

}
.down-pipe .square-pipe-2 .grid-pattern div{
    height: calc(100%/23);
}