/* @keyframes duration | timing-function | delay |
   iteration-count | direction | fill-mode | play-state | name */


/* Feuille de style pas utilisé pour le moment */


/* 
@keyframes firstjump{
    from { left: calc(var(--w)*1); }
    
    75%  { 
        left: calc(var(--w)*16);
        bottom:calc(var(--w)*2);
    } 
    80%  { 
        left: calc(var(--w)*16.5);
        bottom:calc(var(--w)*3);
    } 
    85%  { 
        left: calc(var(--w)*17);
        bottom:calc(var(--w)*4);
    } 
    90%  { 
        left: calc(var(--w)*17.5);
        bottom:calc(var(--w)*3);
    }
    to   { 
        left: calc(var(--w)*18);
        bottom:calc(var(--w)*2); 
    }
}
@keyframes secondjump{
    from { left: calc(var(--w)*18); }
    
    45%  { 
        left: calc(var(--w)*19);
        bottom:calc(var(--w)*2);
    } 
    60%  { 
        left: calc(var(--w)*19.5);
        bottom:calc(var(--w)*3);
    } 
    75%  { 
        left: calc(var(--w)*20);
        bottom:calc(var(--w)*4);
    } 
    90%  { 
        left: calc(var(--w)*20.5);
        bottom:calc(var(--w)*3);
    }
    to   { 
        left: calc(var(--w)*21);
        bottom:calc(var(--w)*2); 
    }
}
@keyframes thirdjump{
    from { left: calc(var(--w)*21); }
    
    45%  { 
        left: calc(var(--w)*22);
        bottom:calc(var(--w)*2);
    } 
    60%  { 
        left: calc(var(--w)*22);
        bottom:calc(var(--w)*3);
    } 
    75%  { 
        left: calc(var(--w)*22);
        bottom:calc(var(--w)*4);
    } 
    90%  { 
        left: calc(var(--w)*22);
        bottom:calc(var(--w)*3);
    }
    to   { 
        left: calc(var(--w)*22.5);
        bottom:calc(var(--w)*2); 
    }
}
@keyframes firstjumpbefore{
    75%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
    76%  { 
        box-shadow: var(--hat-jump),var(--hair-jump),var(--head-jump),var(--top-jump),var(--hands-jump),var(--jumpsuit-jump),var(--foot-jump);
    } 
    97%{
        box-shadow: var(--hat-jump),var(--hair-jump),var(--head-jump),var(--top-jump),var(--hands-jump),var(--jumpsuit-jump),var(--foot-jump);

    }
    98%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}
@keyframes movement{
    0% {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    33%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    34%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);
    }
    66%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);

    }
    67%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);

    }
    to {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}


@keyframes goleft_goomba {
    from{
        left: calc(var(--w)*23 + var(--w)/4);
    }
    to{
        left: calc(var(--w)*13 + var(--w)/4);

    }
}
@keyframes movement_goomba {
    from{
        box-shadow: var(--left-foot),var(--right-foot);
    }
    50%{
        box-shadow: var(--left-foot),var(--right-foot);
    }
    51%{
        box-shadow: var(--left-foot2),var(--right-foot2);
    }
    to{
        box-shadow: var(--left-foot2),var(--right-foot2);
    }
}
@keyframes go {
    
    from{
        left: 0;
    }
    10%{
        left: calc(var(--wm)*10);
    }
    60%{
        left: calc(var(--wm)*10);
    }
    to{
        left : calc(var(--wm)*210);
    }
} */
/* main{
    animation: 60s linear .5s 1 normal forwards running go;
} */

/* body:focus-within .mario{
    animation:  5s linear 0s 1 normal forwards running firstjump,
                2s linear 5.1s 1 normal forwards running secondjump,
                2s linear 7.1s 1 normal forwards running thirdjump
                ;
}

body:focus-within .mario::before{
    animation:  .5s linear 0s 10 normal forwards running movement, 
                5s linear 0s 1 normal forwards running firstjumpbefore,
                5s linear 2.2s 1 normal forwards running firstjumpbefore, 
                5s linear 3.2s 1 normal forwards running firstjumpbefore
                ;
} */



/*** GIFTWALLS ***/
@keyframes upgiftbefore2{
    from{
        z-index: -1;
        opacity: 0;
    }
    70%  { 
        z-index: -1;
        opacity: 0;
    }
    to{
        z-index: 3;
        opacity: 1;
    }
}
@keyframes upgiftbefore{
    
    from { opacity: 1;}
    50%  { opacity: 1;}
    to{ opacity: 0;}
}
@keyframes upgift{
    40%  { bottom:calc(var(--w)*5);}
    70%  { bottom:calc(var(--w)*6);} 
    100%  { bottom:calc(var(--w)*5);}
}
@keyframes upcoin{
    to{ z-index: -1;}
    50%  { 
        bottom:calc(var(--w)*5);
        z-index: -1;
    }
    60%{ z-index: 3;}
    70%  { bottom:calc(var(--w)*8);} 
    90%  { bottom:calc(var(--w)*6.5);}
    100%{ opacity: hidden;}
}
body:focus-within .coin1{
    animation: 1s linear 3.6s 1 normal forwards running upcoin;
}
body:focus-within .gwl1{
    animation: 1s linear 3.6s 1 normal forwards running upgift;
}
body:focus-within .gwl1:before{
    animation: 1s linear 3.6s 1 normal forwards running upgiftbefore;

} 
body:focus-within .ewl1{
    animation: 1s linear 3.6s 1 normal forwards running upgiftbefore2;

}
/*** GOOMBAS ***/
@keyframes goomba1{
    from { left: calc(var(--w)*23.25); }
    80% {
        display: block;
    }
    to { 
        display: none;
        left: calc(var(--wm)*3)
    }
}
body:focus-within .gb1{
    animation:  20s linear 0s 1 normal forwards running goomba1;
}
@keyframes goomba2{
    from {left: calc(var(--w)*41 + var(--w)/2);}
    5% { left: calc(var(--w)*41); }
    50% { left: calc(var(--w)*46.5); }
    to { left: calc(var(--w)*41 + var(--w)/2); }

}
body:focus-within .gb2{
    animation:  4s linear 15s 10 normal forwards running goomba2;
}
@keyframes goomba3{
    from { left: calc(var(--w)*53.75); }
    25% { left: calc(var(--w)*49); }
    75% { left: calc(var(--w)*57.5); }
    to { left: calc(var(--w)*53.75); }

}
body:focus-within .gb3{
    animation:  7s linear 0s infinite normal forwards running goomba3;
}
@keyframes goomba4{
    from { left: calc(var(--w)*55.25); }
    33% {left: calc(var(--w)*49);}
    84% { left: calc(var(--w)*57.5); }
    to { left: calc(var(--w)*55.25); }
}
body:focus-within .gb4{
    animation:  7s linear 0s infinite normal forwards running goomba4;
}

/*** MARIO ***/
/*
* 3cases/s
*/
@keyframes run1{
    from { left: calc(var(--w)*7); }
    to { left: calc(var(--w)*16); }
}
@keyframes jump1{
    from { 
        bottom: calc(var(--w)*2);
        left: calc(var(--w)*16); 
    }
    50%{
        bottom: calc(var(--w)*4);
    }
    to { 
        left: calc(var(--w)*18); 
        bottom: calc(var(--w)*2);
    }
}
@keyframes run2{
    from { left: calc(var(--w)*18); }
    to { left: calc(var(--w)*23); }
}
@keyframes jump2{
    from { 
        bottom: calc(var(--w)*2);
        left: calc(var(--w)*23); 
    }
    50%{
        bottom: calc(var(--w)*4);
    }
    to { 
        left: calc(var(--w)*25); 
        bottom: calc(var(--w)*2);
    }
}
@keyframes run3{
    from { left: calc(var(--w)*25); }
    to { left: calc(var(--w)*27); }
}
@keyframes jump3{
    from { 
        bottom: calc(var(--w)*2);
        left: calc(var(--w)*27); 
    }
    50%{
        bottom: calc(var(--w)*5);
    }
    66%{
        bottom: calc(var(--w)*4);
    }
    to { 
        left: calc(var(--w)*29); 
        bottom: calc(var(--w)*4);
    }
}
@keyframes jump4{
    from { 
        bottom: calc(var(--w)*4);
        left: calc(var(--w)*29); 
    }
    8%{
        left: calc(var(--w)*28.4); 
        bottom: calc(var(--w)*4);
    }
    50%{
        bottom: calc(var(--w)*7.5);
    }
    60%{
        bottom: calc(var(--w)*7);
    }
    to { 
        left: calc(var(--w)*24); 
        bottom: calc(var(--w)*6);
    }
}
@keyframes jump5{
    from { 
        bottom: calc(var(--w)*6);
        left: calc(var(--w)*24); 
    }

    50%{
        bottom: calc(var(--w)*8);
    }

    to { 
        left: calc(var(--w)*23); 
        bottom: calc(var(--w)*6);
    }
}
@keyframes jump6{
    from { 
        bottom: calc(var(--w)*6);
        left: calc(var(--w)*23); 
    }

    50%{
        bottom: calc(var(--w)*8);
    }

    to { 
        left: calc(var(--w)*23); 
        bottom: calc(var(--w)*6);
    }
}
@keyframes run4{
    from { 
        left: calc(var(--w)*29); 
        bottom: calc(var(--w)*4);
    }
    30%{
        bottom: calc(var(--w)*4);
    }
    40%{
        bottom: calc(var(--w)*3);
    }
    50%{
        bottom: calc(var(--w)*2);

    }
    to { 
        left: calc(var(--w)*37); 
        bottom: calc(var(--w)*2);
    }
}
@keyframes jump7{
    from { 
        bottom: calc(var(--w)*2);
        left: calc(var(--w)*37); 
    }

    50%{
        bottom: calc(var(--w)*6);
    }

    to { 
        left: calc(var(--w)*39); 
        bottom: calc(var(--w)*5);
    }
}
@keyframes jump8{
    from { 
        bottom: calc(var(--w)*5);
        left: calc(var(--w)*39); 
    }
    20%{
        left: calc(var(--w)*40); 
        bottom: calc(var(--w)*5);
    }
    50%{
        bottom: calc(var(--w)*8);
    }
    to { 
        left: calc(var(--w)*47.5); 
        bottom: calc(var(--w)*6);
    }
}
body:focus-within .mario{
    animation:  
    3s linear 0s 1 normal forwards running run1,
                2s linear 3s 1 normal forwards running jump1,
                1.7s linear 5s 1 normal forwards running run2,
                2s linear 6.7s 1 normal forwards running jump2,
                .7s linear 8.7s 1 normal forwards running run3,
                1.7s linear 9.4s 1 normal forwards running jump3,
                2s linear 11.1s 1 normal forwards running jump4,
                1.7s linear 13.1s 1 normal forwards running jump5,
                1s linear 14.8s 2 normal forwards running jump6,
                1s linear 15.8s 1 reverse forwards running jump5,
                2s linear 16.8s 1 reverse forwards running jump4,
                2.7s linear 18.8s 1 normal forwards running run4,
                1.7s linear 21.5s 1 normal forwards running jump7,
                1.7s linear 23.2s 1 normal forwards running jump8


                ;
}