:root{
    font-size: 1px;
    --orange:rgb(252, 151, 56); /* mushroom, star, flower, mario */
    --red:#D82800; /* mushroom, star, flower, mario */
    --brown:#C84C0D; /* wall , goombas*/
    --brown-soft:#FCBCB0; /* top wall, geant mushroom */
    --beige-soft:#F4D4B4; /* body goombas */
    --black:#000;
    --white:#fff;
    --green-dark:#00a800;
    --green-soft:rgb(128, 208, 17);
    --green-reflection:rgb(26,146,22);
    --green-odd:#887000; /* mario */
    --blue:#3cbcfc;
    --blue-dark:rgb(92,148,252);

    --w:32rem;
    --wm:calc(-1*var(--w));
    --px:calc(var(--w) /16);
    --pxm:calc(-1*var(--px));
    --height-max:calc(var(--w)*15);
    --width-max:calc(var(--w)*215);

}

*{
    box-sizing: content-box;
}

html,.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

div{ /* one pixel */
    position:absolute;
    width:var(--px);
    height:var(--px);
}
section{
    height: var(--height-max);
    width: var(--width-max);
    position: relative;
    border:1px solid black;
    background-color: var(--blue-dark);
    overflow: hidden; 
    flex: 1 0 var(--width-max);
}

.body{
    height: var(--height-max);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 98vh;
    background-color: black;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    overflow: -moz-scrollbars-none; /* firefox */
}

main::-webkit-scrollbar {  /* chrome */
    width: 0 !important 
}


/********************************/
  /* Css by Benoist */

input {
    display: none;
}

label {
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    z-index: 50;
}

.btn {
    margin: 2rem;
    display: inline-block;
    padding: 1rem 4rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
}

body:focus-within input,
body:focus-within label {
    display: none;
}
