.bigmountain{
    position: absolute;
    width: calc(var(--w)*1.30);
    height: calc(var(--w)*3.125);
    
    border-left: calc(var(--w)*2.78) solid transparent;
    border-right: calc(var(--w)*2.78) solid transparent;
    
    background: linear-gradient(45deg, var(--green-dark) 61%, transparent 62%),
                linear-gradient(315deg, var(--green-dark) 61%, transparent 61.5%), 
                linear-gradient(45deg, var(--green-dark) 61%, transparent 61.5%),
                linear-gradient(315deg, var(--green-dark) 61%, transparent 61.5%), 
                radial-gradient(ellipse at right, var(--green-dark) 60%, transparent 61%),
                radial-gradient(ellipse at left, var(--green-dark) 60%, transparent 61%),
                linear-gradient(90deg, var(--green-dark), var(--green-dark));

    background-repeat: no-repeat;
    background-position: 60.5px 51px , -71px 51px, 37px 27px , -47px 27px, -24px 22.5px,14px 22.5px, -5px 60px;

    filter: drop-shadow(black 0px var(--pxm) 0px);
}

.bigmountain:after{
    --sbc:  0 0 var(--black);

    --spot1:    calc(var(--px)*13 ) calc(var(--px)*1) var(--sbc),
                calc(var(--px)*13) calc(var(--px)*3) 0 var(--px) var(--black),
                calc(var(--px)*13) calc(var(--px)*4) 0 var(--px) var(--black),
                calc(var(--px)*13) calc(var(--px)*6) var(--sbc),
                calc(var(--px)*10) calc(var(--px)*8) var(--sbc),
                calc(var(--px)*10) calc(var(--px)*7) var(--sbc),
                calc(var(--px)*10) calc(var(--px)*6) var(--sbc),
                calc(var(--px)*10) calc(var(--px)*5) var(--sbc),
                calc(var(--px)*9) calc(var(--px)*8) var(--sbc),
                calc(var(--px)*9) calc(var(--px)*7) var(--sbc),
                calc(var(--px)*9) calc(var(--px)*6) var(--sbc),
                calc(var(--px)*9) calc(var(--px)*5) var(--sbc);

    --spot2:    calc(var(--px)*21) calc(var(--px)*18) var(--sbc),
                calc(var(--px)*21) calc(var(--px)*20) 0 var(--px) var(--black),
                calc(var(--px)*21) calc(var(--px)*21) 0 var(--px) var(--black),
                calc(var(--px)*21) calc(var(--px)*23) var(--sbc),
                calc(var(--px)*18) calc(var(--px)*22) var(--sbc),
                calc(var(--px)*17) calc(var(--px)*22) var(--sbc),
                calc(var(--px)*18) calc(var(--px)*23) var(--sbc),
                calc(var(--px)*17) calc(var(--px)*23) var(--sbc),
                calc(var(--px)*18) calc(var(--px)*24) var(--sbc),
                calc(var(--px)*17) calc(var(--px)*24) var(--sbc),
                calc(var(--px)*18) calc(var(--px)*25) var(--sbc),
                calc(var(--px)*17) calc(var(--px)*25) var(--sbc);

    --spot3:    calc(var(--pxm)*3) calc(var(--px)*18) var(--sbc),
                calc(var(--pxm)*3) calc(var(--px)*20) 0 var(--px) var(--black),
                calc(var(--pxm)*3) calc(var(--px)*21) 0 var(--px) var(--black),
                calc(var(--pxm)*3) calc(var(--px)*23) var(--sbc),
                calc(var(--pxm)*6) calc(var(--px)*22) var(--sbc),
                calc(var(--pxm)*7) calc(var(--px)*22) var(--sbc),
                calc(var(--pxm)*6) calc(var(--px)*23) var(--sbc),
                calc(var(--pxm)*7) calc(var(--px)*23) var(--sbc),
                calc(var(--pxm)*6) calc(var(--px)*24) var(--sbc),
                calc(var(--pxm)*7) calc(var(--px)*24) var(--sbc),
                calc(var(--pxm)*6) calc(var(--px)*25) var(--sbc),
                calc(var(--pxm)*7) calc(var(--px)*25) var(--sbc);
    
    bottom:65px;
    left:0;
    
    width: var(--px);
    height:  var(--px);
    
    content: "";
    position: absolute;
    background-color: transparent;
    box-shadow:  var(--spot1),var(--spot2),var(--spot3);
}