
@keyframes movement{
    0% {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    33%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    34%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);
    }
    66%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);

    }
    67%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);

    }
    to {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}

@keyframes go {
    from{

        transform: translateX(0);
    }
    to{
        transform: translateX(-3000px);
    }
}
@keyframes goReverse {
    from{
        
        
    }
    to{
        transform: translateX(0);
        
    }
}
@keyframes goMario {
    to{
        transform: translateX(3000px);
        
    }
}
@keyframes jump {
    from{
        bottom:calc(var(--w)*0); 

    }
    50%{
        bottom:calc(var(--w)*5); 
    }
    to   { 
        bottom:calc(var(--w)*0); 
    }
}
@keyframes intowall {
    from{
        transition: all 1s ease;

    }
    to{
        bottom:calc(var(--w)*0); 
        transition: all 1s ease;
    }
}


main:focus-within .mario::before{
    animation: .5s linear 0s infinite normal forwards running movement;
}
main:not(:focus) .mario::before{
    animation: .5s linear 0s infinite normal forwards paused movement;
}
aside:hover + .body .mario::before{
    animation: 1s linear 0s infinite normal forwards running jump;
}