
@keyframes movement{
    0% {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    33%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    34%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);
    }
    66%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);

    }
    67%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);

    }
    to {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}

@keyframes go {
    from{

        transform: translateX(0);
    }
    to{
        transform: translateX(-3000px);
    }
}
@keyframes goReverse {
    from{
        
        
    }
    to{
        transform: translateX(0);
        
    }
}
@keyframes goMario {
    to{
        transform: translateX(3000px);
        
    }
}
@keyframes jump {
    from{
        bottom:calc(var(--w)*0); 

    }
    50%{
        bottom:calc(var(--w)*5); 
    }
    to   { 
        bottom:calc(var(--w)*0); 
    }
}
@keyframes jumpBlocked {
    from{
        bottom:calc(var(--w)*0); 

    }
    50%{
        bottom:calc(var(--w)*3); 
    }
    to   { 
        bottom:calc(var(--w)*0); 
    }
}

/* @keyframes intowall {
    from{
        transition: all 1s ease;

    }
    to{
        bottom:calc(var(--w)*0); 
        transition: all 1s ease;
    }
} */
@keyframes jumpbefore{
    35%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
    36%  { 
        box-shadow: var(--hat-jump),var(--hair-jump),var(--head-jump),var(--top-jump),var(--hands-jump),var(--jumpsuit-jump),var(--foot-jump);
    } 
    47%{
        box-shadow: var(--hat-jump),var(--hair-jump),var(--head-jump),var(--top-jump),var(--hands-jump),var(--jumpsuit-jump),var(--foot-jump);

    }
    48%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}
.mario::before{
    will-change: animation;
}
aside:not(:hover) + .body main:focus-within .mario::before{
    animation: .5s linear 0s infinite normal forwards running movement;
}

aside:hover + .body  .mario::before{
    animation: 1s linear 0s infinite normal forwards running jump, 1s linear 0s infinite normal forwards running jumpbefore;
}



/* Premier giftwall */

@keyframes upgiftbefore{
    
    from{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    95%  { 
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}
@keyframes upgift{
    0%  { 
        bottom:calc(var(--w)*5);
    }
    50%  { 
        bottom:calc(var(--w)*6);
    } 
    100%  { 
        bottom:calc(var(--w)*5);
    }
}
@keyframes upcoin{
    from{
        z-index: -1;
    }
    35%  { 
        bottom:calc(var(--w)*5);
        z-index: -1;
    }
    50%{
        z-index: -1;
    }
    60%  { 
        bottom:calc(var(--w)*8);
    } 
    70%{
        z-index: 10;
    }
    90%  { 
        bottom:calc(var(--w)*6.5);
    }
    to{
        opacity: hidden;
    }
}
@keyframes upgiftbefore2{
    
    from{
        z-index: -1;
    }
    85%  { 
        z-index: -1;
        opacity: 0;

    }
    95%  { 
        z-index: 10;
        opacity: 1;
    }
    to{
        z-index: 10;
        opacity: 1;

    }
}
aside:hover + .body .coin[data-c="true"]{
    /* animation: 1s linear 0.1s 1 normal forwards running upcoin; */
    z-index: 10;
    opacity: 0;
    transform:translateY(calc(var(--wm)*3));
    transition: z-index .5s ease-in-out 0.4s, transform .5s ease-in .2s, opacity .5s ease-in .5s;
    
}
aside:hover + .body .giftwall[data-c="true"]:not(.t){
    /* animation: 1s linear 0.1s 1 normal forwards running upgift; */
    bottom:calc(var(--w)*6);
    transition: bottom 0.5s linear 0.1s;
}
aside:hover + .body .giftwall[data-c="true"]:not(.t):before{
    /* animation: 1s linear 0.1s 1 normal forwards running upgiftbefore; */
    opacity: 0;
    transition: opacity 0.5s linear 0.1s;

}
aside:hover + .body .emptywall[data-c="true"]:not(.t){
    /* animation: 1s linear 0.1s 1 normal forwards running upgiftbefore2; */
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s ease-out 0.5s, z-index 0.5s ease-out 0.5s;

}
/* TODO : faire pour les giftwall du haut .t */
.body .giftwall[data-c="finish"]:before{
    opacity: 0;
}
.body .emptywall[data-c="finish"]{
    opacity: 1;
    z-index: 10;
}
.body .coin[data-c="finish"]{
    opacity: 0;
}
/* 
aside:hover + .body section .c ~ .mario{
    animation: 1s linear 0s infinite normal forwards running jumpBlocked, 1s linear 0s infinite normal forwards running jumpbefore;
} */
