
@keyframes movement{
    0% {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    33%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top),var(--hands),var(--jumpsuit),var(--foot);
    }
    34%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);
    }
    66%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top3),var(--hands3),var(--jumpsuit3),var(--foot3);

    }
    67%{
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);

    }
    to {
        box-shadow: var(--hat),var(--hair),var(--head),var(--top2),var(--hands2),var(--jumpsuit2),var(--foot2);
    }
}

@keyframes go {
    from{

        transform: translateX(0);
    }
    to{
        transform: translateX(-3000px);
        
    }
}
@keyframes goReverse {
    from{
        transform: translateX(-3000px);
        
    }
    to{
        transform: translateX(0);
        
    }
}
@keyframes goMario {
    to{
        transform: translateX(3000px);
        
    }
}
@keyframes jump {
    from{
        bottom:calc(var(--w)*0); 

    }
    50%{
        bottom:calc(var(--w)*5); 
    }
    to   { 
        bottom:calc(var(--w)*0); 
    }
}
@keyframes intowall {
    from{
        transition: all 1s ease;

    }
    to{
        bottom:calc(var(--w)*0); 
        transition: all 1s ease;
    }
}

#right:focus  ~ .body main{
    animation: 60s linear 0s 1 normal forwards running go;
}

#right:not(:focus) ~ .body main{
    animation: 60s linear 0s 1 normal forwards paused go;
}
#right:focus   ~ .body  .mario {
    animation: 60s linear 0s 1 normal forwards running goMario;
}
#right:not(:focus)   ~ .body  .mario {
    animation: 60s linear 0s 1 normal forwards paused goMario;
}
#right:focus  ~ .body  .mario::before {
    animation: .5s linear 0s infinite normal forwards running movement;
}
#right:not(:focus)  ~ .body  .mario::before {
    animation: .5s linear 0s infinite normal forwards paused movement;
}
#left:focus ~ .body main{
    animation: 60s linear 0s 1 reverse forwards paused go;
}

/* #left:not(:focus) ~ .body main{
    animation: 60s linear 0s 1 reverse forwards paused go;
} */
/* #left:focus   ~ .body  .mario {
    animation: 60s linear 0s 1 reverse forwards running goMario;
} */
/* #left:not(:focus)   ~ .body  .mario {
    animation: 60s linear 0s 1 reverse forwards paused goMario;
} */
/* #left:focus  ~ .body  .mario::before {
    animation: .5s linear 0s infinite reverse forwards running movement;
} */
/* #left:not(:focus)  ~ .body  .mario::before {
    animation: .5s linear 0s infinite reverse forwards paused movement;
} */

#up:focus ~ .body .mario::before{
    animation: 1s linear 0s infinite normal forwards running jump, 1s linear 0s infinite normal forwards paused movement;
}

#up:not(:focus) ~ .body .mario::before{
    animation: 1s linear 0s 1 normal forwards running intowall, 1s linear 0s infinite normal forwards paused movement;
}


