.doublebush:before{
    --outline:  calc(var(--px)*11) 0 0 0 var(--black),
    calc(var(--px)*12) 0 0 0 var(--black),
    calc(var(--px)*13) 0 0 0 var(--black),
    calc(var(--px)*18) 0 0 0 var(--black),
    calc(var(--px)*19) 0 0 0 var(--black),
    calc(var(--px)*20) 0 0 0 var(--black),
    calc(var(--px)*21) 0 0 0 var(--black),
    calc(var(--px)*14) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*15) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*17) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*22) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*23) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*24) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*25) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*26) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*23) calc(var(--pxm)*16) 0 0 var(--black),
    calc(var(--px)*23) calc(var(--pxm)*17) 0 0 var(--black),
    calc(var(--px)*23) calc(var(--pxm)*18) 0 0 var(--black),
    calc(var(--px)*22) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*21) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*20) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*19) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*19) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*18) calc(var(--pxm)*22) 0 0 var(--black),
    calc(var(--px)*17) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*16) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*15) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*14) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*13) calc(var(--pxm)*22) 0 0 var(--black),
    calc(var(--px)*12) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*11) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*10) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*10) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*10) calc(var(--pxm)*18) 0 0 var(--black),
    calc(var(--px)*9) calc(var(--pxm)*17) 0 0 var(--black),
    calc(var(--px)*8) calc(var(--pxm)*16) 0 0 var(--black),
    calc(var(--px)*7) calc(var(--pxm)*15) 0 0 var(--black),
    calc(var(--px)*6) calc(var(--pxm)*15) 0 0 var(--black),
    calc(var(--px)*5) calc(var(--pxm)*15) 0 0 var(--black),
    calc(var(--px)*4) calc(var(--pxm)*14) 0 0 var(--black),
    calc(var(--px)*3) calc(var(--pxm)*13) 0 0 var(--black),
    calc(var(--px)*2) calc(var(--pxm)*11) 0 0 var(--black),
    calc(var(--px)*1) calc(var(--pxm)*11) 0 0 var(--black),
    calc(var(--px)*0) calc(var(--pxm)*10) 0 0 var(--black),
    calc(var(--px)*0) calc(var(--pxm)*9) 0 0 var(--black),
    calc(var(--px)*1) calc(var(--pxm)*8) 0 0 var(--black),
    calc(var(--px)*2) calc(var(--pxm)*7) 0 0 var(--black),
    calc(var(--px)*3) calc(var(--pxm)*6) 0 0 var(--black),
    calc(var(--px)*4) calc(var(--pxm)*5) 0 0 var(--black),
    calc(var(--px)*4) calc(var(--pxm)*4) 0 0 var(--black),
    calc(var(--px)*5) calc(var(--pxm)*3) 0 0 var(--black),
    calc(var(--px)*6) calc(var(--pxm)*3) 0 0 var(--black),
    calc(var(--px)*7) calc(var(--pxm)*3) 0 0 var(--black),
    calc(var(--px)*8) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*9) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*10) calc(var(--pxm)*1) 0 0 var(--black);

    --bg:calc(var(--px)*15) calc(var(--pxm)*9) 0 calc(var(--px)*7) var(--green-soft),
    calc(var(--px)*10) calc(var(--pxm)*9) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*22) calc(var(--pxm)*8) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*15) calc(var(--pxm)*13) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*15) calc(var(--pxm)*18) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*14) calc(var(--pxm)*18) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*16) calc(var(--pxm)*16) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*18) calc(var(--pxm)*16) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*19) calc(var(--pxm)*15) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*20) calc(var(--pxm)*13) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*6) calc(var(--pxm)*9) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*2) calc(var(--pxm)*9) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*4) calc(var(--pxm)*12) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*16) calc(var(--pxm)*21) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*15) calc(var(--pxm)*21) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*12) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*20) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*19) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*23) calc(var(--pxm)*3) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*25) calc(var(--pxm)*3) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*27) calc(var(--pxm)*4) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*29) calc(var(--pxm)*5) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*29) calc(var(--pxm)*10) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*28) calc(var(--pxm)*8) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*27) calc(var(--pxm)*14) 0 0 var(--green-soft);


    --reflection: calc(var(--px)*18) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*17) calc(var(--pxm)*18) 0 0 var(--green-reflection),
    calc(var(--px)*14) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*13) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*12) calc(var(--pxm)*16) 0 0 var(--green-reflection);

    --outline2:calc(var(--px)*11 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*12 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*13 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*18 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*19 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*20 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*21 + var(--px)*16) 0 0 0 var(--black),
    calc(var(--px)*14 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*16 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*17 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*22 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*23 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*24 + var(--px)*16) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*25 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*26 + var(--px)*16) calc(var(--pxm)*1) 0 0 var(--black),
    calc(var(--px)*27 + var(--px)*16) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*28 + var(--px)*16) calc(var(--pxm)*2) 0 0 var(--black),
    calc(var(--px)*29 + var(--px)*16) calc(var(--pxm)*3) 0 0 var(--black),
    calc(var(--px)*30 + var(--px)*16) calc(var(--pxm)*3) 0 0 var(--black),
    calc(var(--px)*31 + var(--px)*16) calc(var(--pxm)*5) 0 0 var(--black),
    calc(var(--px)*30 + var(--px)*16) calc(var(--pxm)*6) 0 0 var(--black),
    calc(var(--px)*29 + var(--px)*16) calc(var(--pxm)*7) 0 0 var(--black),
    calc(var(--px)*30 + var(--px)*16) calc(var(--pxm)*8) 0 0 var(--black),
    calc(var(--px)*31 + var(--px)*16) calc(var(--pxm)*9) 0 0 var(--black),
    calc(var(--px)*31 + var(--px)*16) calc(var(--pxm)*10) 0 0 var(--black),
    calc(var(--px)*31 + var(--px)*16) calc(var(--pxm)*11) 0 0 var(--black),
    calc(var(--px)*30 + var(--px)*16) calc(var(--pxm)*12) 0 0 var(--black),
    calc(var(--px)*29 + var(--px)*16) calc(var(--pxm)*11) 0 0 var(--black),
    calc(var(--px)*28 + var(--px)*16) calc(var(--pxm)*12) 0 0 var(--black),
    calc(var(--px)*28 + var(--px)*16) calc(var(--pxm)*13) 0 0 var(--black),
    calc(var(--px)*28 + var(--px)*16) calc(var(--pxm)*14) 0 0 var(--black),
    calc(var(--px)*27 + var(--px)*16) calc(var(--pxm)*15) 0 0 var(--black),
    calc(var(--px)*26 + var(--px)*16) calc(var(--pxm)*14) 0 0 var(--black),
    calc(var(--px)*25 + var(--px)*16) calc(var(--pxm)*13) 0 0 var(--black),
    calc(var(--px)*24 + var(--px)*16) calc(var(--pxm)*14) 0 0 var(--black),
    calc(var(--px)*24 + var(--px)*16) calc(var(--pxm)*15) 0 0 var(--black),
    calc(var(--px)*23 + var(--px)*16) calc(var(--pxm)*16) 0 0 var(--black),
    calc(var(--px)*23 + var(--px)*16) calc(var(--pxm)*17) 0 0 var(--black),
    calc(var(--px)*23 + var(--px)*16) calc(var(--pxm)*18) 0 0 var(--black),
    calc(var(--px)*22 + var(--px)*16) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*21 + var(--px)*16) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*20 + var(--px)*16) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*19 + var(--px)*16) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*19 + var(--px)*16) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*18 + var(--px)*16) calc(var(--pxm)*22) 0 0 var(--black),
    calc(var(--px)*17 + var(--px)*16) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*16 + var(--px)*16) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*14 + var(--px)*16) calc(var(--pxm)*23) 0 0 var(--black),
    calc(var(--px)*13 + var(--px)*16) calc(var(--pxm)*22) 0 0 var(--black),
    calc(var(--px)*12 + var(--px)*16) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*11 + var(--px)*16) calc(var(--pxm)*21) 0 0 var(--black),
    calc(var(--px)*10 + var(--px)*16) calc(var(--pxm)*20) 0 0 var(--black),
    calc(var(--px)*10 + var(--px)*16) calc(var(--pxm)*19) 0 0 var(--black),
    calc(var(--px)*10 + var(--px)*16) calc(var(--pxm)*18) 0 0 var(--black),
    calc(var(--px)*9 + var(--px)*16) calc(var(--pxm)*17) 0 0 var(--black),
    calc(var(--px)*8 + var(--px)*16) calc(var(--pxm)*16) 0 0 var(--black);

    --bg2:calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*9) 0 calc(var(--px)*7) var(--green-soft),
    calc(var(--px)*10 + var(--px)*16) calc(var(--pxm)*9) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*22 + var(--px)*16) calc(var(--pxm)*8) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*13) 0 calc(var(--px)*5) var(--green-soft),
    calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*18) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*14 + var(--px)*16) calc(var(--pxm)*18) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*16 + var(--px)*16) calc(var(--pxm)*16) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*18 + var(--px)*16) calc(var(--pxm)*16) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*19 + var(--px)*16) calc(var(--pxm)*15) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*20 + var(--px)*16) calc(var(--pxm)*13) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*6 + var(--px)*16) calc(var(--pxm)*9) 0 calc(var(--px)*3) var(--green-soft),
    calc(var(--px)*2 + var(--px)*16) calc(var(--pxm)*9) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*4 + var(--px)*16) calc(var(--pxm)*12) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*16 + var(--px)*16) calc(var(--pxm)*21) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*15 + var(--px)*16) calc(var(--pxm)*21) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*12 + var(--px)*16) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*20 + var(--px)*16) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*19 + var(--px)*16) calc(var(--pxm)*2) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*23 + var(--px)*16) calc(var(--pxm)*3) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*25 + var(--px)*16) calc(var(--pxm)*3) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*27 + var(--px)*16) calc(var(--pxm)*4) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*29 + var(--px)*16) calc(var(--pxm)*5) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*29 + var(--px)*16) calc(var(--pxm)*10) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*28 + var(--px)*16) calc(var(--pxm)*8) 0 calc(var(--px)) var(--green-soft),
    calc(var(--px)*27 + var(--px)*16) calc(var(--pxm)*14) 0 0 var(--green-soft);




    --reflection2: calc(var(--px)*18 + var(--px)*16) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*17 + var(--px)*16) calc(var(--pxm)*18) 0 0 var(--green-reflection),
    calc(var(--px)*14 + var(--px)*16) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*13 + var(--px)*16) calc(var(--pxm)*17) 0 0 var(--green-reflection),
    calc(var(--px)*12 + var(--px)*16) calc(var(--pxm)*16) 0 0 var(--green-reflection);

    bottom:0;
    left:0;
    width: 103%;
    height: 103%;
    content: "";
    position: absolute;
    background-color: transparent;
    box-shadow: var(--outline2),var(--reflection2),var(--reflection),var(--bg2),var(--outline) ,var(--bg);
}