.tube.top{
    width: calc(var(--w)*2  - var(--px)*2);
    height: calc(var(--w) - var(--px)*2);
    border: var(--px) solid var(--black);
    background-color: var(--green-soft);
}
.tube.top:after{
    top:0;
    left:0;
    width: var(--px);
    height: var(--px);
    content: "";
    position: absolute;
    background-color: transparent;
    box-shadow: calc(var(--px)*26) calc(var(--px)*2) 0 0 var(--green-soft),
                calc(var(--px)*26) calc(var(--px)*4) 0 0 var(--green-soft),
                calc(var(--px)*26) calc(var(--px)*6) 0 0 var(--green-soft),
                calc(var(--px)*26) calc(var(--px)*8) 0 0 var(--green-soft),
                calc(var(--px)*26) calc(var(--px)*10) 0 0 var(--green-soft),
                calc(var(--px)*26) calc(var(--px)*12) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*2) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*4) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*6) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*8) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*10) 0 0 var(--green-soft),
                calc(var(--px)*24) calc(var(--px)*12) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*13) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*3) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*5) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*7) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*9) 0 0 var(--green-soft),
                calc(var(--px)*25) calc(var(--px)*11) 0 0 var(--green-soft),
                calc(var(--px)*0) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*1) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*2) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*11) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*12) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*13) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*20) calc(var(--px)*7) 0 calc(var(--px)*6) var(--green-dark),
                calc(var(--px)*28) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*29) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*27) calc(var(--px)*12) 0 0 var(--green-dark);
}
.tube.down{
    width: calc(var(--w)*2  - var(--px)*6);
    height: calc(var(--w)*3 + var(--px)*2);
    border: var(--px) solid var(--black);
    background-color: var(--green-soft);
}
.tube.down:after{
    top:0;
    left:0;
    width: var(--px);
    height: var(--px);
    content: "";
    position: absolute;
    background-color: transparent;
    box-shadow: 
                calc(var(--px)*21) calc(var(--px)*0) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*2) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*4) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*6) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*8) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*10) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*12) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*14) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*16) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*18) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*20) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*22) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*24) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*26) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*28) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*30) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*32) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*34) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*36) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*38) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*40) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*42) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*44) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*46) 0 0 var(--green-soft),
                calc(var(--px)*21) calc(var(--px)*48) 0 0 var(--green-soft),

                calc(var(--px)*22) calc(var(--px)*0) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*14) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*16) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*18) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*20) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*22) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*24) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*26) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*28) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*30) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*32) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*34) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*36) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*38) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*40) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*42) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*44) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*46) 0 0 var(--green-dark),
                calc(var(--px)*22) calc(var(--px)*48) 0 0 var(--green-dark),

                calc(var(--px)*23) calc(var(--px)*1) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*15) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*17) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*19) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*21) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*23) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*25) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*27) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*29) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*31) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*33) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*35) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*37) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*39) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*41) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*43) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*45) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*47) 0 0 var(--green-dark),
                calc(var(--px)*23) calc(var(--px)*49) 0 0 var(--green-dark),



                calc(var(--px)*3) calc(var(--px)*0) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*1) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*14) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*15) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*16) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*17) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*18) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*19) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*20) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*21) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*22) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*23) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*24) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*25) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*26) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*27) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*28) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*29) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*30) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*31) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*32) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*33) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*34) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*35) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*36) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*37) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*38) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*39) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*40) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*41) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*42) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*43) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*44) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*45) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*46) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*47) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*48) 0 0 var(--green-dark),
                calc(var(--px)*3) calc(var(--px)*49) 0 0 var(--green-dark),



                calc(var(--px)*4) calc(var(--px)*0) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*1) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*13) 0 0 var(--green-dark),

                calc(var(--px)*4) calc(var(--px)*14) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*15) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*16) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*17) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*18) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*19) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*20) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*21) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*22) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*23) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*24) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*25) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*26) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*27) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*28) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*29) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*30) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*31) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*32) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*33) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*34) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*35) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*36) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*37) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*38) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*39) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*40) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*41) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*42) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*43) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*44) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*45) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*46) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*47) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*48) 0 0 var(--green-dark),
                calc(var(--px)*4) calc(var(--px)*49) 0 0 var(--green-dark),


                calc(var(--px)*10) calc(var(--px)*0) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*2) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*3) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*4) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*5) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*6) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*7) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*8) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*9) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*10) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*11) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*12) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*13) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*14) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*15) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*16) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*17) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*18) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*19) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*20) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*21) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*22) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*23) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*24) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*25) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*26) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*27) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*28) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*29) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*30) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*31) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*32) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*33) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*34) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*35) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*36) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*37) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*38) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*39) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*40) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*41) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*42) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*43) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*44) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*45) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*46) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*47) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*48) 0 0 var(--green-dark),
                calc(var(--px)*10) calc(var(--px)*49) 0 0 var(--green-dark),

                calc(var(--px)*17) calc(var(--px)*4) 0 calc(var(--px)*4) var(--green-dark),
                calc(var(--px)*17) calc(var(--px)*13) 0 calc(var(--px)*4) var(--green-dark),
                calc(var(--px)*17) calc(var(--px)*22) 0 calc(var(--px)*4) var(--green-dark),
                calc(var(--px)*17) calc(var(--px)*31) 0 calc(var(--px)*4) var(--green-dark),
                calc(var(--px)*17) calc(var(--px)*40) 0 calc(var(--px)*4) var(--green-dark),
                calc(var(--px)*17) calc(var(--px)*45) 0 calc(var(--px)*4) var(--green-dark);



               
}